.btn{
    padding: 10px;
    box-sizing: border-box;
}
.warn{
    padding:10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgb(168, 167, 67);
}
.icd_info{
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: #000;
}